body{
    background-image: url(../Notícias/Imagens/carmim.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

div{
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px red;
}

h1{
    text-align: center;
    color: #cc0000;
    margin-bottom: 40px;
}

h2{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

input{
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 25px;
    background: white;
    box-sizing: border-box;

    box-shadow:
    0 0 5px rgba(255,0,0,0.4),
    0 0 15px rgba(255,0,0,0.2),
    0 0 25px rgba(255,0,0,0.1);
}

button{
    width: 100%;
    padding: 13px;
    margin-top: 20px;

    background: linear-gradient(to right, #ff4d4d, #cc0000);
    color: white;

    border: none;
    border-radius: 25px;
    font-size: 16px;
}
 
button:hover{
    cursor: pointer;
}

p{
    text-align: center;
    margin-top: 25px;
}

a{
    color: #4d0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: red;
}

/* RESPONSIVIDADE */

@media (max-width: 600px){

    div{
        width: 90%;
        padding: 25px;
    }

}

#btn-home {
    position: fixed;
    top: 15px;
    left: 20px; /* importante: pra não ficar em cima do botão do menu */

    z-index: 100;
    background-color: #bf0000;

    width: 10px;
    height: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#btn-home i {
    color: rgb(24, 2, 2);
    font-size: 25px;
}

#mensagem-geral {
    display: none;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.mensagem-erro {
    display: block !important;
    background-color: #ffe5e5;
    color: #b30000;
    border: 1px solid #b30000;
    text-align: center;
}

.mensagem-sucesso {
    display: block !important;
    background-color: #e6ffe6;
    color: #006600;
    border: 1px solid #006600;
    text-align: center;
}
